*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

.page{
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.card{
    width:min(100%, 400px);
    background-color: #fff;
}

.card__image img{
    width:100%;
    height: 250px;
    object-fit: cover;
    padding:calc(1rem, 2vw, 1.5rem)
}

.card__badge{
    background-color: #2563eb;
    color:#fff;
    padding:0.3rem 0.6rem ;
    margin-bottom: 1rem;
    display: inline-block;
    border: 1px solid #2563eb;
    border-radius: 999px;
}

.card__title{
    font-size: clamp(1.2rem 2vw, 1.5rem);
    margin-bottom: 0.5rem;
}

.card__subtitle{
 font-size: clamp(1rem 2vw 1.5rem);
 color:#555;
 margin-bottom: 1.5rem;
 line-height: 1.5;
}

.card__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__read{
    color:#555;
    font-weight: 500;
}

.card__btn{
    background-color: #2563eb;
    color:#fff;
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.85rem;
    font-weight: 500;
}
.card__btn:hover{
     background-color: #244da6
}