* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

.page {
  background-color: #b5b3b3;
  line-height: 1.5;
}

.resume {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.resume__sidebar {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}

.profile {
  text-align: center;
  margin-bottom: 2rem;
}

.profile__image {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.profile__name {
  font-size: clamp(2rem, 4vw, 3.5rem);
}

.profile__role {
  font-size: clamp(3rem 5vw, 4rem);
  font-weight: 600;
  margin-top: 0.45rem;
}


.info__item {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  
}

.skill__title,
.languages__title {
  margin: 1rem 0 0.75rem;
}

.skill {
  margin-bottom: 1rem;
}

.skill__name {
  margin-bottom: 0.35rem;
  font-size: clamp(0.85rem, 2vw, 1rem);
  display: block;
}

.skill__progress {
  height: 100%;
  background: teal;
  border-radius: 10px;
}

.skill__bar {
  height: 0.5rem;
  background-color: #ddd;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}

.languages {
  margin-bottom: 1rem;
}

.languages__label {
  margin-bottom: 0.35rem;
  font-size: clamp(0.85rem, 2vw, 1rem);
  display: block;
}

.languages__bar {
  height: 8px;
  background: #ddd;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.languages__level {
  height: 100%;
  background: teal;
  border-radius: 10px;
}

/* main-content */

.resume__content{
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
}

.experience__title,
.education__title,
.contect__title{
    font-size: clamp(1.25rem 3vw, 2rem);
    margin-bottom: 1.5rem;
    padding-bottom: 0.35rem;
    border-bottom: 2px solid teal;
}

.experience__item,
.education__item{
    margin-bottom: 1.5rem;
}

.experience__role,
.education__school {
  margin-bottom: 0.75rem;
    font-size: 1.1rem;
}

.experience__date,
.education__date {
  font-size: clamp(0.75rem, 2vw, 1.2rem);
  font-weight: 500;
  color: #666;
  margin-bottom: 0.55rem;

}

.experience__desc{
    font-size: clamp(1rem, 2vw, 1.2rem);
   letter-spacing: 1px;
   padding: 1rem 0;
   line-height: 2;
}

.experience__company,
.education__degree{
    font-size: clamp(0.75rem, 2vw, 1.2rem);
    font-weight: 500;
    
}

.education__degree{
    margin-bottom: 1rem;
}

.contect__item{
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 600;
  margin-bottom: 1rem;
  list-style: none;
  
  
}
.contect__item a{
  text-decoration: none;
  color: teal;  
}
.contect__item a:hover{
  color: #13b4b4;
  transition: 0.3s all ease;
} 

.footer {
   position: relative;
    text-align: center;
}

.footer__text {
    color: #777;
    font-size: clamp(0.85rem, 1.5vw, 1rem);
    position: absolute;
    left: 40%;
    top: 3rem;
}


@media (max-width:768px) {
  .resume {
    grid-template-columns: 1fr;
  }
  .footer__text{
    top: 0;
  }
}
  