* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

.page {
    height: min(100vh);
    display: flex;
    background-color: #f6d7b1;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 35%;
    height: 100vh;
}


.sidebar__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.main {
    width: 65%;
    margin-left: 35%;
    padding: 2rem;
    height: 100vh;
    overflow-y: auto;
}


.hero {
    text-align: center;
    padding: 4rem 1rem;
}

.hero__title {
    font-size: clamp(2rem, 4vw, 4rem)
}

.hero__subtitle {
    font-size: clamp(1rem, 2vw, 2rem);
    margin-top: 0.5rem;
    color: #555
}

.button {
    font-size: 1rem;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 0.35rem;
    cursor: pointer;
    margin-top: 1rem;
}

.button--primary {
    background-color: #333;
    color: #fff
}

.section__title {
    font-size: clamp(1rem, 3vw, 1.5rem);
    margin-bottom: 1rem;
    letter-spacing: 0.25rem;
    color: #555
}

.portfolio {
    margin-top: 1rem;
}

.portfolio__flex {
   
    display: flex;
    flex-wrap: wrap;
    gap: 1rem
}

.portfolio__image {
    width: 30%;
    border-radius: 0.5rem;
    flex: 1;
}

.about {
    margin-top: 1rem
}

.about__text {
    font-size: clamp(0.90rem, 2vw, 1.5rem);
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.skill {
    margin-bottom: 1rem;
}

.skill__label {
    margin-bottom: 0.25rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 600;
    display: block;
}

.skill__bar {
    background-color: #555;
    height: 0.75rem;
}

.skill__progress {
    height: 100%;
    background-color: #fff;
}

.contact {
    margin-top: 2rem;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.contact__input,
.contact__textarea {
    padding: clamp(0.6rem, 1vw, 0.8rem);
    font-size: clamp(0.85rem, 1vw, 1rem);
    border: 1px solid #333;
    border-radius: 0.35rem;
}

.button--secondary {
    background-color: #333;
    color: #fff;
    display: inline-block;

}

.footer {
    margin-top: 1rem;
    text-align: center;
}

.footer__text {
    color: #777;
    font-size: clamp(0.85rem, 1.5vw, 1rem);
}

@media (max-width: 768px) {
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }

    .main {
        width: 100%;
        margin-left: 0;
        height: auto;
        overflow: visible;
    }

    .sidebar__image {
        height: 300px;

    }
    .portfolio__image{
        width: 100%;
    }

    .page {
        flex-direction: column;
    }
}