
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
}

.page{
    min-height: 100vh;
    background-color: #6cabeb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.95rem, 1vw, 1.05rem);
}

.form{
    width:min(100%, 450px);
    background-color: #ffffff;
    padding:2rem;
    border-radius: 0.7rem;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);

}

.form__heading{
    text-align: center;
    margin-bottom: 1.5rem;
}

.form__title{
   font-size: clamp(1.4rem, 2vw, 1.75rem);
   
}
.form__subtitle{
    color:#64748b;
    /* margin-bottom: 0.25rem; */
}

.form__body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__group{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.form__group-checkbox{
    flex-direction: row;
    align-items: center;
}

.form__label-inline{
    margin-left: 0.4rem;
}
.form__label{
    font-weight: 500;
}

.form__input,
.form__select,
.form__textarea{
    padding: 0.6rem 0.75rem;
    border-radius: 0.75rem;
    border: 1px solid #e5e7eb;
    font-size: inherit;
}

.form__textarea{
    resize: horizontal;
    min-height: 80px;
}

.form__range{
    width:100%
}

.form__checkbox{
    width: 1rem;
    height: 1rem;
}

.form__action{
    display: flex;
    gap:0.75rem;
    margin-top: 1rem;
}

.form__button{
    padding:0.7rem;
    border:none;
    border-radius: 0.7rem;
    cursor: pointer;
    font-weight: 600;
}

.form__button-primary{
    background-color:#4f46e5 ;
    color: #ffffff;
}

.form__button-secendery{
    background-color: transparent;
    color: #4f46e5;
    border:1px solid #4f46e5   
}

.form__button:hover{
    opacity: 0.9;
}
